@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark-200: #475467;
  --color-light-blue-100: #c1d3f81a;
  --color-light-blue-200: #a7bff14d;

  --color-badge-green: #d5faf1;
  --color-badge-red: #f9e3e2;
  --color-badge-yellow: #fceed8;

  --color-badge-green-text: #254d4a;
  --color-badge-red-text: #752522;
  --color-badge-yellow-text: #73321b;
}

html,
body {
  background: linear-gradient(180deg, #F9FAFB 0%, #EEF4FF 100%);
  scroll-behavior: smooth;
}

main {
  @apply min-h-screen pt-2 md:pt-5 px-4 md:px-10 xl:px-20 text-[#334155] overflow-hidden;
}
h1 {
  @apply text-3xl md:text-4xl lg:text-6xl text-gradient leading-tight xl:tracking-[-2px] font-semibold;
}

h2 {
  @apply text-base md:text-xl lg:text-2xl;
}

label {
  @apply font-medium;
}
input {
  @apply w-full p-4 shadow rounded-xl focus:outline-none bg-white;
}

textarea {
  @apply w-full p-4 shadow rounded-xl focus:outline-none bg-white;
}

form {
  @apply flex flex-col items-start w-full;
}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r from-[#4F7BFF] via-[#0F172A] to-[#4F7BFF];
  }
  .gradient-border {
    @apply bg-linear-to-t from-[#4F7BFF]/15 to-[#22D3EE]/15 p-1 rounded-2xl;
  }
  .primary-button {
    @apply primary-gradient hover:primary-gradient-hover text-white rounded-full px-4 py-2 cursor-pointer text-sm md:text-base;
  }
  .resume-nav {
    @apply flex flex-row justify-between items-center p-4 border-b border-gray-200;
  }
  .resume-summary {
    @apply flex flex-row items-center justify-center;
    .category {
      @apply flex flex-row gap-2 items-center rounded-2xl w-full justify-between;
    }
  }
  .back-button {
    @apply flex flex-row items-center gap-2 border border-gray-200 rounded-lg p-2 shadow-sm;
  }
  .auth-button {
    @apply primary-gradient rounded-full py-4 px-8 cursor-pointer font-semibold text-white;
  }
  .main-section {
    @apply flex flex-col items-center gap-8;
  }
  .page-heading {
    @apply flex flex-col items-center gap-5 lg:gap-7 max-w-4xl text-center;
  }
  .resumes-section {
    @apply w-full pt-6 md:pt-10 xl:pt-20 gap-4 md:gap-6 xl:gap-10 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3;
  }

  .resume-card {
    @apply flex flex-col gap-3 bg-white rounded-2xl p-2.5 md:p-4;
  }

  .resume-card-header {
    @apply flex flex-row gap-2 justify-between items-center;
  }

  .feedback-section {
    @apply flex flex-col gap-8 py-6;
  }

  .navbar {
    @apply flex flex-row justify-between items-center bg-white rounded-2xl p-2 md:p-4 w-full mx-auto shadow-md;
  }

  .score-badge {
    @apply flex flex-row items-center justify-center py-1 px-2 gap-4 rounded-[96px];
  }

  .form-div {
    @apply flex flex-col gap-1.5 w-full items-start;
  }

  .uplader-drag-area {
    @apply relative p-8 text-center transition-all duration-700 cursor-pointer bg-white rounded-2xl min-h-52;
  }
  .uploader-selected-file {
    @apply flex flex-row gap-0.5 items-center justify-between px-1.5 py-3 bg-white rounded-xl shadow-md;
  }
}

@utility bg-gradient {
  background: linear-gradient(to bottom, #f0f4ff 60%, #fa7185cc);
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-[#4F7BFF] via-[#0F172A] to-[#4F7BFF]
}

@utility gradient-hover {
  @apply bg-linear-to-b from-light-blue-100 to-light-blue-200;
}

@utility primary-gradient {
  background: linear-gradient(135deg, #4F7BFF 0%, #22D3EE 100%);
  box-shadow: 0px 74px 21px 0px #6678ef00;
}

@utility primary-gradient-hover {
  background: linear-gradient(135deg, #3F63E6 0%, #0EA5E9 100%);
}

@utility inset-shadow {
  box-shadow: inset 0 0 12px 0 rgba(36, 99, 235, 0.2);
  backdrop-filter: blur(10px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}